<!doctype html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Criando uma aplicação NodeJS</title>
  <meta name="description" content="Criando uma aplicação NodeJS">
  <meta name="author" content="JSagon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <main class="container">
    <div class="header">
      <div class="title"><h1>JSagon</h1></div>
      <div class="sub-title"><h4>Criando uma aplicação NodeJS.</h4></div>
      <div><h4>"Bom mesmo é ir à luta com determinação, abraçar a vida com paixão, perder com classe e vencer com ousadia, porque o mundo pertence a quem se atreve e a vida é muito curta, para ser insignificante" — Charlie Chaplin</h4></div>
    </div>
  </main>
</body>
</html>