<div class="container-app">
    <div class="row">
        <div class="col-sm-8">
            <div class="title"><h2>Criando uma aplicação em NodeJS</h2></div>
            <div class="sub-title"><h4>by JSagon.</h4></div>
            <div><h4>"Bom mesmo é ir à luta com determinação, abraçar a vida com paixão, perder com classe e vencer com ousadia, porque o mundo pertence a quem se atreve e a vida é muito curta, para ser insignificante" — Charlie Chaplin</h4></div>
            <div>
                Está página faz parte do tutorial <a href="https://jsagon.com/articles/criando-aplicacao-website-nodejs-express-handlebars-heroku-parte-1">
                    Criando uma aplicação em NodeJS, com Express e Handlebars.
                </a>
            </div>
        </div>
        <div class="col-sm-4" style="text-align: center;">
            <img src="/public/img/develop_app.svg" style="width: 100%;max-width: 300px">
        </div>
    </div>
</div>