<div class="header">
    <div class="title"><h1>JSagon</h1></div>
    <div class="sub-title"><h4>Criando uma aplicação NodeJS.</h4></div>
    <div><h4>"Bom mesmo é ir à luta com determinação, abraçar a vida com paixão, perder com classe e vencer com ousadia, porque o mundo pertence a quem se atreve e a vida é muito curta, para ser insignificante" — Charlie Chaplin</h4></div>
</div>